.card {
  background-color: #ffe3d2;
  border-radius: 0 !important;

  display: flex !important;
  &-div {
    margin: 7%;
    max-width: 100%;
    display: flex !important;
    object-fit: cover !important;
  }
  &-img {
    border-radius: 0 !important;
  }
  &-div2 {
    display: flex !important;
    flex-direction: column;

    &-title {
      display: flex !important;
      text-align: center !important;
      justify-content: center !important;
    }
    &-desc {
      overflow: hidden;
      width: 100%;
      height: 40px;
    }
    &-price {
      font-weight: 500;
      margin-top: 4%;
    }
  }
}
