.img_div {
  height: 100%;
  display: flex;
}
.img {
  margin: 12%;
}


.error {
  color: red;
  display: flex;
  margin-bottom: 0 !important;
  justify-content: flex-end;
  margin-left: 60%!important;
  margin-bottom: 5%;
}