.Cart-div {
  color: #7a431d !important;
  display: flex;
  justify-content: center;
  &-icon {
    align-items: center;
    display: flex;
  }
  &-header {
    font-size: 400% !important;
  }
}
.css-11lq3yg-MuiGrid-root {
  justify-content: center !important;
}
