.arrowButton {
  color: black !important;
  height: 50%;
  align-items: center !important;
  border-radius: 100px !important;
}
.css-1o7apob-MuiGrid-root {
  display: flex;
}
.error {
  color: red;
  display: flex;
  margin-bottom: 0 !important;
}