@import "./variable.scss";
.productDiv {
  padding: 5%;
  &-text1 {
    font-family: "Poppins" !important;
    font-size: 150% !important;
    font-weight: 600 !important;
    margin-bottom: 4% !important;
  }
  &-text2 {
    font-family: "Poppins" !important;
    font-size: 120% !important;
    font-weight: 450 !important;
    margin-bottom: 4% !important;
  }
  &-form {
    display: flex;
    width: 100%;
    margin-bottom: 4% !important;
    background-color: $primary;
    font-size: 100% !important;
    padding: 2.5% !important;
    border-width: 1px !important;
  }
  &-button {
    background-color: $secondary !important;
    margin-bottom: 5% !important;
    float: right;
    color: white !important;
    display: flex;
  }
}
